---
layout: default
title: Blog
---
<!-- template from https://codepen.io/anupkumar92/pen/bOvYYm -->

<style>
span, a {
    display: inline-block;
    color: inherit;
}
</style>

<section class="blog" data-scroll-index="4">
    <div class="container">
        <div class="row">
        
        {% for post in site.posts %}
            <div class="col-md-6 col-lg-4">
              <div class="item">
                <div class="img">
                  <img src="{% if post.image %}{{ post.image }}{% else %}assets/img/default_blog_post.png{% endif %}" alt="{{ post.image_description }}">
                </div>
                <div class="info">
                  <div class="date">
                    <span>{{ post.date | date: '%b %d' }}</span>
                  </div>
                  <a href="{{ post.url }}"><h5><b>{{ post.title }}</b></h5></a>
                  <p>{{ post.excerpt }}</p>
                  <a class="user"><i class='bx bxs-user'></i></a>
                    
                {% if post.authors %}
                {% assign tag_people = post.authors | split: "," %}
                {% assign all_peop = "" | split: ',' %}
                {% for peop in site.people %}
                    {% assign all_peop = all_peop | push: peop.key %}
                {% endfor %}
                <div class="tagLine" style="margin: 25px -15px -20px 15px">
                    {% for tag in tag_people %}
                        {% if all_peop contains tag %}
                            {% for peop in site.people %}
                                {% if tag == peop.key %}
                                    <p><a href="{{ peop.link }}" target="_blank">{{ tag }}</a></p>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>{{ tag }}</p>
                        {% endif %}
                        {% if forloop.last == false %},&nbsp;{% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                
                </div>
              </div>
            </div>
        {% endfor %}
        
        </div>
    </div>
</section>
