---
layout: default
title: Codes
---

<style>
	#codes_content{
      padding: 9px;
      font: 17px Calibri;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 10px;
      align:center;
      text-align:center;
      word-wrap: break-word;
      margin: 20px 0;
    }
    
#menu{
    list-style: none;
}
#menu li{
    display: inline;
    padding: 0 10px;
    border-left: solid 1px black;
}
#menu li:first-child{
    border-left: none;
}
</style>

<style>
.collapsible {
  background-color: transparent;
  color: #999999;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.active, .collapsible:hover {
  color: #000000;
  outline: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
</style>

<center>
{% for codes in site.code %}
  <div id="codes_content">
    <h3>{{ codes.code_title }}</h3>
    <div style="text-align:left;">
    {% assign codelink_array = codes.code_links | split: "," %}
    <h6><b>Code Links</b></h6>
    <ul>
	  {% for lin in codelink_array %}  
	    <li><a href="{{ lin }}">Code resource</a></li>
    	  {% endfor %}
    </ul>
    <button type="button" class="collapsible">Learn more <i class='bx bxs-chevrons-down'></i></button>
    <div class="content">
      <ul>
        <li>
          <b>Related Projects:</b>
          {% assign proj_array = codes.tagged_projects | split: "," %}
          <ul id="menu">
            {% for tag in proj_array %}
              {% for project in site.research_projects %}
                      {% if tag == project.title %}
                        <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                    {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </li>
        <li>
        {% assign peop_array = codes.code_authors | split: "," %}
          <b>Related People:</b>
            <ul id="menu">
              {% for peop in peop_array %}
                <li>{{ peop }}</li>
              {% endfor %}
            </ul>
        </li>
      </ul>
  {{ content | markdownify }}
   </div>
  </div>
  </div>
{% endfor %}
</center>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
