---
layout: default
title: News and Events
---
<html lang="en">

<body>
<center><h3><b>News</b></h3></center>
<div class="container">
  <div class="row mt-5 mb-5">
{% assign sorted = site.event | sort: 'date' | reverse %}
{% for news in sorted limit:3 %}
    {% if news.layout == 'news' %}
    <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3">
          <div class="card">
                  {% if news.image %}
                    <img class="card-img" src="{{ news.image }}" alt="{{ news.title }}" onclick="window.location.href = '{{ news.url }}';" style="cursor: pointer;">
                  {% else %}
                    <img class="card-img" src="/assets/img/default_news.png" alt="{{ news.title }}" onclick="window.location.href = '{{ news.url }}';" style="cursor: pointer;"> 
                  {% endif %}
            <div class="card-content">
              <h4><b><a href="{{ news.url }}">{{ news.title }}</a></b></h4>
              <a>{{ news.date | date: '%B %d, %Y' }}</a><br/>
              <div id="textbox"><p class="description">{{ news.description | markdownify }}</p></div><br/>
              <a href="{{ news.article_url }}" class="bttn" target="_blank">Full News Article</a>
            </div>
          </div>
        </div>
    {% endif %}
{% endfor %}
</div>
</div>
<center><a href="\news.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">All News <i class="bx bx-chevron-right"></i></a></center><br />
<hr/>
</body>
</html>
