---
layout: default
title: Fundings
---
<ol>
{% for fund in site.funding %}
    <li>
      <b>{{ fund.grant_title }}</b>
    <ul>
    <li>
        Funding Organization: {{ fund.organization }}
    </li>
    <li>
      Grant: ${{  fund.grants }}
    </li>
    <li>
    Organization's Website: <a href="{{ fund.org_link }}" target="_blank">Link to {{ fund.organization }} website <i class="icofont-external-link"></i></a>
    </li>
    <li>
      Granted Status: <div id="{{ fund.grant_title }}"></div>
    </li>
    <li>
    {% assign tag_array = fund.tagged_projects | split: "," %}
    <p>Funded Projects: </p>
        <ul style="list-style-type: '- ';">
            {% for tag in tag_array %}
                {% for project in site.research_projects %}
                    {% if tag == project.title %}
                        <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </li>
    </ul>
    </li>
    <hr />

<script>
  var date = new Date();
  const d = String({{  fund.duration | date: "%m-%d-%Y"  }})
  console.log(d)
  mydate=new Date(d);
  if(date < mydate)
  {
    document.getElementById("{{ fund.grant_title }}").innerHTML = "Current"
  }
  else
  {
    document.getElementById("{{ fund.grant_title }}").innerHTML = "Past"
  }
</script>
    
{% endfor %}
</ol>
