---
layout: default
title: NEWS
---
<html>
<!-- template from https://codepen.io/anupkumar92/pen/bOvYYm -->
  <body>
<style>
    input[type=text], select {
        width: 80%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    span, a {
    display: inline-block;
    color: inherit;
    }
</style>

<center>
  <select onchange= "location = this.value;">
    <option selected value="">-- Select a method to search --</option>
    <option value="javascript:javascript:decide(1)">Search by News Title</option>
    <option value="javascript:decide(0)">Search by Date</option>
  </select>
  <br/><br/>
  <div id="embed"></div>
  <hr/>
</center>


<section class="blog" data-scroll-index="4">
  <div class="container" id="myUL">
      <div class="row">
      {% assign sorted = (site.event | sort: 'date') %}
      {% for post in sorted %}
      {% if post.layout == 'news' %}
      
          <div class="col-md-6 col-lg-4">
            <div class="item">
              <label>
              <div class="img">
                <img src="{% if post.image %}{{ post.image }}{% else %}/assets/img/default_news.png{% endif %}" alt="{{ news.title }}">
              </div>
              <div class="info">
                <div class="date">
                  <span><a>{{ post.date | date: '%b %d' }}</a></span>
                </div>
                <h5><b><a href="{{ post.url }}">{{ post.title }}</a></b></h5>
                <a class="user"><i class='bx bxs-user'></i></a>
                  
              {% if post.tagged_people %}
              {% assign tag_people = post.tagged_people | split: "," %}
              {% assign all_peop = "" | split: ',' %}
              {% for peop in site.people %}
                  {% assign all_peop = all_peop | push: peop.key %}
              {% endfor %}
              <div class="tagLine" style="margin: 25px -15px -20px 15px">
                  {% for tag in tag_people %}
                      {% if all_peop contains tag %}
                          {% for peop in site.people %}
                              {% if tag == peop.key %}
                                  <p><a href="{{ peop.link }}" target="_blank">{{ tag }}</a></p>
                              {% endif %}
                          {% endfor %}
                      {% else %}
                          <p>{{ tag }}</p>
                      {% endif %}
                      {% if forloop.last == false %},&nbsp;{% endif %}
                  {% endfor %}
              </div>
              {% endif %}
              
              </div>
              </label>
            </div>
          </div>
          {% endif %}
      {% endfor %}
      
      </div>
  </div>
</section>


<script>
  function myFunction(num) {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("label");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[num];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }

      function decide(n){
          var l = ["Date","News Title"]
          document.getElementById("embed").innerHTML = '<input type="text" id="myInput" onkeyup="myFunction('+n+')" placeholder="Enter '+l[n]+'" title="Type in a name">'
      }
</script>
</body>
</html>
