---
layout: default
title: NEWS
---
<html>
  <body>
<style>
    #talks_content{
        padding: 9px;
        font: 17px Calibri;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 10px;
        align-content:center;
        word-wrap: break-word;
        margin: 7px 0px;
    }
    input[type=text], select {
        width: 80%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<center>
<select onchange= "location = this.value;">
  <option selected value="">-- Select a method to search --</option>
  <option value="javascript:javascript:decide(0)">Search by News Title</option>
  <option value="javascript:decide(1)">Search by Date</option>
</select>
<br/><br/>
<div id="embed"></div>
<hr/>
</center>
<div id="myUL">
{% assign sorted = (site.event | sort: 'date') %}
{% for news in sorted %}
    {% if news.layout == 'news' %}
    <center>
      <label>
    <div id="talks_content">
        <table>
            <tr>
            <td style="width:30%;">
              {% if news.image %}
                <img src="{{ news.image }}"  style="border-radius: 10%; width:100px; margin-right:60px;"/>
              {% else %}
                <img src="/assets/img/default_news.png"  style="border-radius: 10%; width:100px; margin-right:60px;"/>
              {% endif %}
            </td>
            <td>
              <h6><b><a href="{{ news.url }}">{{ news.title }}</a></b></h6>
              <b><a>{{ news.date | date: '%B %d, %Y' }}</a></b><br/>
              <b>Source: </b><a href="{{ news.article_url }}" target="_blank">Link to full news article <i class="icofont-external-link"></i></a>
            </td>
            </tr>
            </table>
    </div>
    </label>
    </center>
    {% endif %}
{% endfor %}
</div>


<script>
  function myFunction(num) {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("label");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[num];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }

      function decide(n){
          var l = ["News Title", "Date"]
          document.getElementById("embed").innerHTML = '<input type="text" id="myInput" onkeyup="myFunction('+n+')" placeholder="Enter '+l[n]+'" title="Type in a name">'
      }
</script>
</body>
</html>
