---
layout: default
title: People
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/cropper.js"></script>
<script>
    recrop("team_picture", 600, 600);
</script>
<section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <style>
        #subhead {
          width: 100%; 
          text-align: center; 
          border-bottom: 0px solid #000; 
          line-height: 0.1em;
          margin: 10px 0 20px; 
        } 

        #subhead span { 
            background:#fff; 
            padding:0 10px; 
        }
      </style>
      {% assign status_array = "" %}
      {% for peop in site.people %}
        {% capture status_array %}{{ status_array | append: peop.category }}{% endcapture %}
        {% if forloop.last == false %}
            {% capture status_array %}{{ status_array | append: "," }}{% endcapture %}
        {% endif %}
      {% endfor %}

      {% if status_array contains "UB faculty" %}
      <h3 id="subhead"><span><strong>Internal Faculty</strong></span></h3>
    </div>
<div class="row">
{% assign title_string = "" %}
<!-- -------------Internal Faculty Section--------------- -->
{% for peop in site.people %}
    {% if peop.category == "UB faculty" %}
  <div class="col-lg-4 col-md-6">
  <div class="member" data-aos="fade-up">
    <div class="pic"><img src="{{ peop.image }}" class="img-fluid team_picture" alt=""></div>
    <div class="member-info">
      <h4><a href="{{ peop.link }}" style="text-decoration:none; color:black;" target="_blank">{{ peop.name }}</a></h4>
      <span>{{ peop.designation }}</span><br>
      <div class="social">
        {{ peop.social }}<br/>{{ peop.status }}
      </div>
    </div>
  </div>
</div>

<!-- create string with all titles -->
{% capture title_string %}{{ title_string | append: peop.name }}{% endcapture %}
{% if forloop.last == false %}
    {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
{% endif %}
<!-- -------------------------------->
{% endif %}
{% endfor %}
<br/><br/>
{% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
{% endif %}


{% if status_array contains "External collaborator" %}
<h3 id="subhead"><span><strong>External Collaborators</strong></span></h3>
<!-- -------------External Faculty Section--------------- -->
{% for peop in site.people %}
    {% if peop.category == "External collaborator" %}
  <div class="col-lg-4 col-md-6">
  <div class="member" data-aos="fade-up">
    <div class="pic"><img src="{{ peop.image }}" class="img-fluid team_picture" alt=""></div>
    <div class="member-info">
      <h4><a href="{{ peop.link }}" style="text-decoration:none; color:black;" target="_blank">{{ peop.name }}</a></h4>
      <span>{{ peop.designation }}</span><br>
      <div class="social">
        {{ peop.social }}<br/>{{ peop.status }}
      </div>
    </div>
  </div>
</div>

<!-- create string with all titles -->
{% capture title_string %}{{ title_string | append: peop.name }}{% endcapture %}
{% if forloop.last == false %}
    {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
{% endif %}
<!-- -------------------------------->
{% endif %}
{% endfor %}
<br/><br/>
{% endif %}
{% capture title_string %}{{ title_string | append: "," }}{% endcapture %}


{% if status_array contains "Current student" %}
<h3 id="subhead"><span><strong>Current Students</strong></span></h3>
<!-- -------------Students Section--------------- -->
{% for peop in site.people %}
    {% if peop.category == "Current student" %}
  <div class="col-lg-4 col-md-6">
  <div class="member" data-aos="fade-up">
    <div class="pic"><img src="{{ peop.image }}" class="img-fluid team_picture" alt=""></div>
    <div class="member-info">
      <h4><a href="{{ peop.link }}" style="text-decoration:none; color:black;" target="_blank">{{ peop.name }}</a></h4>
      <span>Student, {{ peop.designation }}</span><br>
      <div class="social">
        {{ peop.social }}<br/>{{ peop.status }}
      </div>
    </div>
  </div>
</div>

<!-- create string with all titles -->
{% capture title_string %}{{ title_string | append: peop.name }}{% endcapture %}
{% if forloop.last == false %}
    {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
{% endif %}
<!-- -------------------------------->
{% endif %}
{% endfor %}
<br/><br/>
{% endif %}

{% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
    

{% if status_array contains "Former student" %}
<h3 id="subhead"><span><strong>Former Students</strong></span></h3>
<!-- -------------Students Section--------------- -->
{% for peop in site.people %}
    {% if peop.category == "Former student" %}
  <div class="col-lg-4 col-md-6">
  <div class="member" data-aos="fade-up">
    <div class="pic"><img src="{{ peop.image }}" class="img-fluid team_picture" alt=""></div>
    <div class="member-info">
      <h4><a href="{{ peop.link }}" style="text-decoration:none; color:black;" target="_blank">{{ peop.name }}</a></h4>
      <span>Student, {{ peop.designation }}</span><br>
      <div class="social">
        {{ peop.social }}<br/>{{ peop.status }}
      </div>
    </div>
  </div>
</div>

<!-- create string with all titles -->
{% capture title_string %}{{ title_string | append: peop.name }}{% endcapture %}
{% if forloop.last == false %}
    {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
{% endif %}
<!-- -------------------------------->
{% endif %}
{% endfor %}
<br/><br/>
{% endif %}
    
{% capture title_string %}{{ title_string | replace: ",,", "," }}{% endcapture %}
{% assign num = title_string | size | minus: 1 %}
{% capture title_string %}{{ title_string | slice: 0, num }}{% endcapture %}
</div>

  </div>
</section>
<h6 style="display:none;">{{ title_string }}</h6>

<script>
    var title_string = "{{ title_string }}";
    localStorage.setItem("people_string", title_string);
</script>
