---
layout: default
title: Publications
---
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<select onchange= "location = this.value;">
    <option selected value="">-- Select a method to search --</option>
    <option value="javascript:javascript:decide(0)">Search by Publication Title</option>
    <option value="javascript:decide(1)">Search by Author name</option>
    <option value="javascript:decide(2)">Search by Date</option>
</select>
<div id="embed"></div>
<hr/>
<ol id="myUL">
{% for pub in site.publications %}
    <li>
    <h4><b><a href="{{ pub.url }}">{{ pub.title }}</a></b></h4>
    {% if pub.authors %}
    <b>Author(s): </b>
      {% assign tag_people = pub.authors | split: "," %}
      {% assign all_peop = "" | split: ',' %}
      {% for peop in site.people %}
          {% assign all_peop = all_peop | push: peop.key %}
      {% endfor %}
      <div class="tagLine" style="margin: 25px -15px -20px 15px">
          {% for tag in tag_people %}
              {% if all_peop contains tag %}
                  {% for peop in site.people %}
                      {% if tag == peop.key %}
                          <p><a href="{{ peop.link }}" target="_blank">{{ tag }}</a></p>
                      {% endif %}
                  {% endfor %}
              {% else %}
                  <p>{{ tag }}</p>
              {% endif %}
              {% if forloop.last == false %},&nbsp;{% endif %}
          {% endfor %}
      </div>
    
    {% endif %}
    {% if pub.abstract %}
    <b>Abstract: </b><div id="desc">{{  pub.abstract }}</div>
    {% endif %}
    {% if pub.date %}
    <b>Date: </b><a>{{ pub.date | date: '%B %d, %Y' }}</a>
    {% endif %}
    </li>
    <hr />
{% endfor %}
</ol>
<script>

</script>

<script>
var myDiv = $('#desc');
myDiv.text(myDiv.text().substring(0,250)+'...')
</script>


<script>
    function myFunction(num) {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[num];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

        function decide(n){
            var l = ["Publication Title", "Author name", "Date"]
            document.getElementById("embed").innerHTML = '<input type="text" id="myInput" onkeyup="myFunction('+n+')" placeholder="Enter '+l[n]+'" title="Type in a name">'
        }
</script>
