---
layout: default
title: Research
---

<html lang="en">

<body>

<!-- ----------------Projects---------------- -->
<h4>Projects</h4>
 <!-- ======= Research Section ======= -->
    {% assign title_string = "" %}
    <div class="row">
        {% for research_project in site.research_projects %}
            <!-- create boxes to display on research page -->
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up">
                <div class="icon">{{ research_project.icon }}</div>
                    <h4 class="title"><a href="{{ research_project.url }}">{{ research_project.title }}</a></h4>
                    <div id="textbox"><p class="description">{{ research_project.description | markdownify }}</p></div>
                </div>
            </div>

            <!-- create string with all titles -->
            {% capture title_string %}{{ title_string | append: research_project.title }}{% endcapture %}
            {% if forloop.last == false %}
                {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
            {% endif %}
            <!-- -------------------------------->
        {% endfor %}
        <h3 style="display:none;">{{ title_string }}</h3>
    </div>
    <script>
        var title_string = "{{ title_string }}";
        localStorage.setItem("title_string", title_string);
    </script>
<hr />
 
<!-- ----------------Publications---------------- -->
 <h4>Publications</h4>
<blockquote><i class="icofont-quote-left"></i>Publication - is the Auction / Of the Mind of Man<p style="float:right;">- Emily Dickinson</p></blockquote>Click on the button below to see all our publications.<br />
<center><a href="\publications.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">All Publications <i class="bx bx-chevron-right"></i></a></center>
<hr />
 
<!-- ----------------Funding---------------- -->
<center><a href="\fundings.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">Fundings <i class="bx bx-chevron-right"></i></a></center>

</body>

</html>
