---
layout: default
title: Research
---

<html lang="en">

<body>

<!-- ----------------Projects---------------- -->
<center><h3><b>Projects</b></h3>
<p style="padding-bottom: 8px;">Our faculty and students actively work on projects covering a broad range of exciting, cutting-edge topics including AI, big data, bioinformatics, cloud services, computing research, crypto-currency, cyber security, machine learning, Internet of Things, self-driving cars, smartphones, and 5G wireless.</p> 
</center>
 <!-- ======= Research Section ======= -->
    {% assign title_string = "" %}
    <div class="row">
        {% for research_project in site.research_projects %}
            <!-- create boxes to display on research page -->
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up">
                <div class="icon">{{ research_project.icon }}</div>
                    <h4 class="title"><a href="{{ research_project.url }}">{{ research_project.title }}</a></h4>
                    <div id="textbox"><p class="description">{{ research_project.description | markdownify }}</p></div>
                </div>
            </div>

            <!-- create string with all titles -->
            {% capture title_string %}{{ title_string | append: research_project.title }}{% endcapture %}
            {% if forloop.last == false %}
                {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
            {% endif %}
            <!-- -------------------------------->
        {% endfor %}
        <h3 style="display:none;">{{ title_string }}</h3>
    </div>
    <script>
        var title_string = "{{ title_string }}";
        localStorage.setItem("title_string", title_string);
    </script>
<hr />
 
<!-- ----------------Publications---------------- -->
<center><h3><b>Publications</b></h3>
<p style="padding-bottom: 8px;">To publish is to make content available to the general public. We try our best to keep everyone updated with the help of our publications page. Click on the button below for more information.</p>
<a href="\publications.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">All Publications <i class="bx bx-chevron-right"></i></a></center><br />
<hr />
 
<!-- ----------------Funding---------------- -->
<center><h3><b>Funding</b></h3>
<p style="padding-bottom: 8px;">To know more about the funding/grants we've received, please click the button below.</p>
<a href="\funding.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">Funding <i class="bx bx-chevron-right"></i></a></center><br />
<hr />
 
<!-- ----------------Talks---------------- -->
<center><h3><b>Talks</b></h3>
<p style="padding-bottom: 8px;">Keep yourself updated with the latest discussions. To access all the talks, please click the button below.</p>
<a href="\talks.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">Talks <i class="bx bx-chevron-right"></i></a></center><br />
<hr />
 
<!-- ----------------Codes---------------- -->
<center><h3><b>Codes</b></h3>
<p style="padding-bottom: 8px;">Please click the button below to access all code resources utilized by the organization.</p>
<a href="\codes.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">Codes <i class="bx bx-chevron-right"></i></a></center><br />
<hr />

</body>

</html>
