---
layout: default
title: Resource Links
---

<style>
	#codes_content{
      padding: 9px;
      font: 17px Calibri;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 10px;
      align:center;
      text-align:center;
      word-wrap: break-word;
      margin: 20px 0;
    }
    
#menu{
    list-style: none;
}
#menu li{
    display: inline;
    padding: 0 10px;
    border-left: solid 1px black;
}
#menu li:first-child{
    border-left: none;
}
</style>
<style>
.collapsible {
  background-color: transparent;
  color: #999999;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.active, .collapsible:hover {
  color: #000000;
  outline: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
</style>
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>

<center>
{% for res in site.resource_links %}
  <input type="text" value="Links: {{ res.link }} & Description: {{ res.description }}" id="{{ res.resource_title }}" style="position:absolute;left:-1000px;top:-1000px;">
    <div id="codes_content">
      <h3>{{ res.resource_title }}<label class="icofont-ui-copy" onclick="copyFunc('{{ res.resource_title }}')" style="float:right; cursor: pointer;" title="Click to copy contents of this resource and share"></label></h3>
      <div style="text-align:left;">
        {% assign links_array = res.link | split: "," %}
        <h6><b>Resource Links</b></h6>
        <ul>
          {% for lin in links_array %}  
            <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
          {% endfor %}
      </ul>
      <button type="button" class="collapsible">Resource Details <i class='bx bxs-chevron-down' ></i></button>
        <div class="content">
          <h6><b>Related Project(s)</b></h6>
          {% assign tag_proj = res.tagged_projects | split: "," %}
          <div class="row">
          {% for tag in tag_proj %}
            {% for project in site.research_projects %}
                    {% if tag == project.title %}
                    <div class="tagLine"><a href="{{ project.url }}">{{ project.title }}</a></div>
                  {% endif %}
            {% endfor %}
          {% endfor %}
          </div>
          <hr/>
          {{ res.description }}
        </div>
    </div>
  </div>
{% endfor %}
</center>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
	
function copyFunc(id) {
  var copyText = document.getElementById(id);
  copyText.select();
  document.execCommand("copy");
}
</script>
