---
layout: default
title: Talks
---

<style>
#talks_content{
	padding: 9px;
	font: 17px Calibri;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 10px;
	align:center;
	word-wrap: break-word;
	margin: 20px 0;
}
    
#menu{
    list-style: none;
}
#menu li{
    display: inline;
    padding: 0 10px;
    border-left: solid 1px black;
}
#menu li:first-child{
    border-left: none;
}
</style>

<center>
{% for talk in site.talks %}

	
<div id="talks_content">
<center><h3><a href="{{ talk.url }}">{{ talk.title }}</a></h3></center>
<table>
<tr>
<td style="width:50%;">
{% for peop in site.people %}
    {% if peop.name == talk.talk_by %}
        <img src="{{ peop.image }}"  style="border-radius: 50%; width:100px; margin-right:60px;"/>
    {% endif %}
{% endfor %}</td>
<td>
<div style="text-align:left; display:inline;">	
<ul class="noBullets">
<li>
{% if talk.date %}
<i class="icofont-ui-calendar"></i> {{ talk.date | date: '%B %d, %Y' }}</li>
{% endif %}

{% if talk.talk_by %}
<li><b>Speaker: </b>{{ talk.talk_by }}</li>
{% endif %}

{% if talk.tagged_projects %}
<li><b>Projects:</b>
{% assign tag_array = talk.tagged_projects | split: "," %}
<ul id="menu">
{% for tag in tag_array %}
  {% for project in site.research_projects %}
          {% if tag == project.title %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
  {% endfor %}
{% endfor %}
</ul>
</li>
{% endif %}
	
</ul>
</div></td></tr></table>
</div>

{% endfor %}
</center>
