<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Foster</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="\"><img src="{{ "assets/img/logo2.png" | relative_url }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="\">Home</a></li>
          <li><a href="\education.html">Education</a></li>
          <li><a href="\research.html">Research</a></li>
          <li><a href="\#testimonials">Speakers</a></li>
          <li><a href="\people.html">People</a></li>
          <li><a href="\resources.html">Resources</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
