<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Foster</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="\"><img src="{{ "assets/img/logo2.png" | relative_url }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="\">Home</a></li>
          <li><a href="\people.html">People</a></li>
          <li class="drop-down"><a href="">Research</a>
            <ul>
              <li><a href="\research.html">Research Home</a></li>
              <li><a href="\research_project.html">Research Projects</a></li>
              <li><a href="\publications.html">Publications</a></li>
              <li><a href="\funding.html">Funding</a></li>
              <li><a href="\talks.html">Talks</a></li>
              <li><a href="\code.html">Code</a></li>
            </ul>
          </li>
          
          <li><a href="\education.html">Education</a></li>
          <li><a href="\event.html">Events</a></li>
          <li><a href="\blog.html">Blog</a></li>
          <li><a href="\resources.html">Resources</a></li>
          <li><a href="\#contact">Join us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
