---
layout: default
---

{{ content | markdownify }}
<hr/>

{% assign tag_people = page.tagged_people | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.name %}
{% endfor %}
<h6><b>Related People</b></h6>
<ul>
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
                <li>{{ tag }} &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->

{% assign tag_array = page.tagged_projects | split: "," %}
<h6><b>Related Research Projects</b></h6>
<ul>
{% for tag in tag_array %}
    {% for project in site.research_projects %}
        {% if tag == project.title %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
<hr>

<!---------------------------->
<h6><b>Related Publications</b></h6>

<ul>
{% for pub in site.publications %}
    {% if pub.tagged_projects contains page.title %}
        <li><a href="{{ pub.url }}">{{ pub.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->
<h6><b>Code Resources</b></h6>
<ul>
{% for code in site.code %}
    {% if code.tagged_projects contains page.title %}
        <li><a href="\codes.html#{{ code.code_title }}">{{ code.code_title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->

<h6><b>Related Funding</b></h6>
<ul>
{% for fund in site.funding %}
    {% if fund.tagged_projects contains page.title %}
        <li><a href="{{ fund.url }}">{{ fund.organization }}</a>: US$ {{ fund.grants }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Talks</b></h6>
<ul>
{% for talk in site.talks %}
    {% if talk.tagged_projects contains page.title %}
        <li><a href="{{ talk.url }}">{{ talk.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Events</b></h6>
<hr/>
<!---------------------------->


<h6><b>Related Blog Posts</b></h6>
<hr/>
<!---------------------------->
