---
layout: default
---

{{ content | markdownify }}
<hr/>

{% if page.tagged_people %}
{% assign tag_people = page.tagged_people | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.key %}
{% endfor %}
<h6><b>People</b></h6>
<ul class="noBullets">
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
            <li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label class="peopleTag">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
<hr/>

<!---------------------------->

{% if page.tagged_projects %}
{% assign tag_array = page.tagged_projects | split: "," %}
<h6><b>Research Projects</b></h6>

<ul class="menu">
{% for tag in tag_array %}
    {% for project in site.research_projects %}
        {% if tag == project.key %}
            <li>
                <a href="{{ project.url }}">{{ project.title }}</a>
            </li>
        {% endif %}
        
    {% endfor %}
{% endfor %}
</ul>
{% endif %}
<hr>

<!---------------------------->
<h6><b>Publications</b></h6>

<ul class="menu">
{% for pub in site.publications %}
    {% if pub.tagged_education contains page.key %}
        <li>
            <a href="{{ pub.url }}">{{ pub.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

<hr/>

<!---------------------------->
<h6><b>Code Resources</b></h6>

<ul class="menu">
{% for code in site.code %}
    {% if code.tagged_education contains page.key %}
        <li>
            <a href="\codes.html#{{ code.code_title }}">{{ code.code_title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

<hr/>

<!---------------------------->

<h6><b>Funding</b></h6>

<ul class="menu">
{% for fund in site.funding %}
    {% if fund.tagged_education contains page.key %}
        <li>
            <a href="{{ fund.url }}">{{ fund.organization }}</a>: US$ {{ fund.grants }}
        </li>
    {% endif %}
{% endfor %}
</ul>

<hr/>
    
<!---------------------------->

<h6><b>Talks</b></h6>

<ul class="menu">
{% for talk in site.talks %}
    {% if talk.tagged_education contains page.key and talk.category == "Internal" %}
        <li>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

<hr/>
    
<!---------------------------->

<h6><b>Events</b></h6>
<ul class="menu">
{% for event in site.event %}
    {% if event.tagged_projects contains page.key %}
        <li>
            <a href="{{ event.url }}">{{ event.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<ul class="menu">
{% for talk in site.talks %}
    {% if talk.tagged_projects contains page.key and talk.category == "External" %}
        <li>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->

<h6><b>Blog Posts</b></h6>

<ul class="menu">
{% for post in site.posts %}
    {% if post.tagged_education contains page.key %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

<hr/>

<!---------------------------->
