<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}
  
<body>
  {%- include header.html -%}
  {{ content | markdownify }}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Join us</h2>
      <p>You can contact us with the following resources!</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Our Mailing Address</h3>
          <h5>University at Buffalo Department of Computer Science and Engineering</h5>
          <p>University at Buffalo, The State University of New York<br>338 Davis Hall<br>Box 602000<br>Buffalo, NY 14260-2500</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-envelope"></i>
          <h3>Our Mailing List</h3>
          <a href="mailto:cse-dept@buffalo.edu">Departmental Inquiries</a>
        </div>
      </div>





      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Call Us</h3>
          <p>+1 (716) 645-3180</p>
          <h3>Fax</h3>
          <p>+1 (716) 645-3464</p>
        </div>
      </div>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-6 ">
        <iframe width="100%" height="384" src="https://maps.google.com/maps?width=100%&amp;height=384&amp;hl=en&amp;q=Davis%20Hall%2C%20%23338%2C%20Buffalo%2C%20NY%2014260+(Computer%20Science%20and%20Engineering%20-%20University%20at%20Buffalo)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/draw-radius-circle-map/">Radius map tool</a></iframe>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><a href="javascript:update_news()">Send Message</a></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

    
  {%- include footer.html -%}


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- Vendor JS Files -->
  <script src="{{ "assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/jquery.easing/jquery.easing.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/php-email-form/validate.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/waypoints/jquery.waypoints.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/counterup/counterup.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/isotope-layout/isotope.pkgd.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/venobox/venobox.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/owl.carousel/owl.carousel.min.js" | relative_url }}"></script>
  <script src="{{ "assets/vendor/aos/aos.js" | relative_url }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ "assets/js/main.js" | relative_url }}"></script>

</body>

</html>
