---
layout: default
---
<div id="contne">
<h1 style="display:none;"><div id="publish_title">{{ page.title }}</div></h1>

{% assign tag_people = page.authors | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.name %}
{% endfor %}
<h6><b>Author(s)</b></h6>
<ul>
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
                <li>{{ tag }} &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
<hr>

<!---------------------------->

<b>Published in: </b>{{ page.publishers }}
<hr>

<!---------------------------->

<b>Date: </b>{{ page.date | date: '%B %d, %Y' }}
<hr>

<!---------------------------->

{% capture link_string %}{{ page.links }}{% endcapture %}

{% assign link_array = link_string | split: "," %}

<h6><b>Links</b></h6>

<ul>
{% for link in link_array %}
    <li><a href="{{ link }}">Resource Link</a></li>
{% endfor %}
</ul>

<hr>

<!---------------------------->

{% assign tag_array = page.tagged_projects | split: "," %}

<h6><b>Tagged Projects</b></h6>
<ul>
{% for tag in tag_array %}
    {% for project in site.research_projects %}
        {% if tag == project.title %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

<hr>

<!---------------------------->

<h6><b>Abstract</b></h6>
{{ page.abstract }}
<hr>

<!---------------------------->

<p>{{ content | markdownify }}</p>
<hr>
<!---------------------------->
<script src="/assets/js/pdf_gen.js"></script><script src="/assets/js/pdf_gen2.js"></script>
<div id="elementH"></div>
<input type="button" onclick="convert_HTML_To_PDF()" value="Download Paper as PDF">
