---
layout: default
---
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=lVdzB2jO"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="contne">
<h1 style="display:none;"><div id="publish_title">{{ page.title }}</div></h1>
<div id="speak_content">
<h6><b>Author(s)</b></h6>
{% assign tag_people = page.authors | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.name %}
{% endfor %}
<ul>
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
                <li>{{ tag }} &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr>
    
<!---------------------------->
{% assign publishedIn = page.published_in | split: "," %}
<h6><b>Published in</b></h6>
<ul>
{% for pub in publishedIn %}
    <li>{{ pub }}</li>
{% endfor %}
</ul>
<hr>

<!---------------------------->

<b>Date: </b>{{ page.date | date: '%B %d, %Y' }}
<hr>

<!---------------------------->

{% capture link_string %}{{ page.links }}{% endcapture %}

{% assign link_array = link_string | split: "," %}

<h6><b>Links</b></h6>

<ul>
{% for link in link_array %}
    <li><a href="{{ link }}" target="_blank"><script>findHostname("{{ link }}")</script></a></li>
{% endfor %}
</ul>
<hr>

<!---------------------------->
<h6><b>Abstract</b></h6>
{{ page.abstract }}
<hr/>
    

<!---------------------------->
<h6><b>Related People</b></h6>
{% assign people_tag = page.tagged_people | split: "," %}
{% assign peopLis = "" | split: ',' %}
{% for peop in site.people %}
{% assign peopLis = peopLis | push: peop.name %}
{% endfor %}
<ul>
{% for tag in people_tag %}
    {% if peopLis contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
                <li>{{ tag }} &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr>
<!---------------------------->

{% assign tag_array = page.tagged_projects | split: "," %}
<h6><b>Tagged Projects</b></h6>
<ul>
{% for tag in tag_array %}
    {% for project in site.research_projects %}
        {% if tag == project.title %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

<hr>

<!---------------------------->
{% assign edu_tag_array = page.tagged_education | split: "," %}
<h6><b>Education and Courses</b></h6>
<ul>
{% for tag in edu_tag_array %}
    {% for education_project in site.education %}
        {% if tag == education_project.title %}
            <li><a href="{{ education_project.url }}">{{ education_project.title }}</a></li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
<hr>
</div>
<!---------------------------->

<script src="/assets/js/pdf_gen.js"></script><script src="/assets/js/pdf_gen2.js"></script>
<div id="elementH"></div>
<input type="button" onclick="convert_HTML_To_PDF()" value="Download Paper as PDF">

<label id="speech_options" style="float:right; border: 1px solid #67b0d1; border-radius: 8px; padding: 8px;">
    <center><b>Narration Options</b></center>
    <a onclick="responsiveVoice.speak($('#speak_content').text());" style="cursor: pointer;"><i class="icofont-play-alt-1"></i> Play</a>  <font color="#67b0d1">|</font>  
    <a onclick="responsiveVoice.resume();" style="cursor: pointer;"><i class="icofont-play-pause"></i> Resume</a>  <font color="#67b0d1">|</font>  
    <a onclick="responsiveVoice.pause();" style="cursor: pointer;"><i class="icofont-pause"></i> Pause</a>  <font color="#67b0d1">|</font>  
    <a onclick="responsiveVoice.cancel();" style="cursor: pointer;"><i class="icofont-ui-close"></i> Cancel</a> 
</label>
