---
layout: default
---

<html>

<h6>People</h6>
{% assign author = page.authors | split: "," %}
<ul>
{% for aut in author %}
    <li>{{ aut }}</li>
{% endfor %}
</ul>
<hr/>

<!---------------------------->

<h6>Education</h6>

<hr/>

<!---------------------------->

<h6>Funding</h6>
<ul>
{% for fund in site.funding %}
    {% if fund.tagged_projects contains page.title %}
        <li><a href="{{ fund.url }}">{{ fund.organization }}</a>: US$ {{ fund.grants }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->
    
<h6>Publications</h6>

<!--{% capture title_hyphenated %}{{ page.title | replace: " ", "-" }}{% endcapture %}-->

<ul>
{% for pub in site.publications %}
    {% if pub.tagged_projects contains page.title %}
        <li><a href="{{ pub.url }}">{{ pub.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->
    
<h6>Related Talks</h6>
<ul>
{% for talk in site.talks %}
    {% if talk.tagged_projects contains page.title %}
        <li><a href="{{ talk.url }}">{{ talk.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6>Code Resources</h6>
<hr/>
    
<!---------------------------->

{{ content | markdownify }}

</html>
