---
layout: default
---

<script>
    function findHostname(url){
        var hostname = (new URL(url)).hostname;
        document.write(hostname)
    }
</script>

<div id="speak_content">
{{ content | markdownify }}
<hr/>

{% assign tag_people = page.tagged_people | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.key %}
{% endfor %}
<h6><b>Related People</b></h6>
<ul class="noBullets">
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
            <li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->

<h6><b>Education and Courses</b></h6>
<ul class="menu">
{% for education_project in site.education %}
    {% if education_project.tagged_projects contains page.key %}
        <li>
            <a href="{{ education_project.url }}">{{ education_project.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<ul class="menu">
{% for course in site.courses %}
    {% if course.tagged_projects contains page.key %}
        <li>
            <a href="\courses.html#{{ course.prefix_number }}">{{ course.prefix_number }} - {{ course.title }}</a>
        </li>
    {% endif %}
{% endfor %}  
</ul>
<hr/>
  
<!---------------------------->
<h6><b>Related Publications</b></h6>

<ul class="menu">
{% for pub in site.publications %}
    {% if pub.tagged_projects contains page.key %}
        <li>
            <a href="{{ pub.url }}">{{ pub.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->
<h6><b>Code Resources</b></h6>
<ul class="menu">
{% for code in site.code %}
    {% if code.tagged_projects contains page.key %}
        <li>
            <a href="\code.html#{{ code.code_title }}">{{ code.code_title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
<!---------------------------->

<h6><b>Related Funding</b></h6>
<ul class="menu">
{% for fund in site.funding %}
    {% if fund.tagged_projects contains page.key %}
        <li>
            <a href="{{ fund.url }}">{{ fund.organization }}</a>: US$ {{ fund.grants }}
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Talks</b></h6>
<ul class="menu">
{% for talk in site.talks %}
    {% if talk.tagged_projects contains page.key %}
        <li>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Resources</b></h6>
<ul class="noBullets">
{% for res in site.resource_links %}
    {% if res.tagged_projects contains page.title %}
    {% assign res_links_array = res.link | split: "," %}
        {% for lin in res_links_array %}  
          <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
        {% endfor %}
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Events</b></h6>
<ul class="menu">
{% for event in site.events %}
    {% if event.tagged_projects contains page.key %}
        <li>
            <a href="{{ event.url }}">{{ event.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<ul class="menu">
{% for talk in site.talks %}
    {% if talk.tagged_projects contains page.key and talk.category == "Internal" %}
        <li>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
<!---------------------------->


<h6><b>Related Blog Posts</b></h6>
<ul class="menu">
{% for post in site.posts %}
    {% if post.tagged_projects contains page.key %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
<!---------------------------->
</div>

{%- include narration.html -%}
