---
layout: default
---
<script src="https://code.responsivevoice.org/responsivevoice.js?key=lVdzB2jO"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="speak_content">
{{ content | markdownify }}
<hr/>

{% assign tag_people = page.authors | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.name %}
{% endfor %}
<h6><b>Related People</b></h6>
<ul>
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
                <li>{{ tag }} &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->

<h6><b>Education and Courses</b></h6>
<ul>
{% for education_project in site.education %}
    {% if education_project.tagged_projects contains page.title %}
        <li><a href="{{ education_project.url }}">{{ education_project.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
  
<!---------------------------->
<h6><b>Related Publications</b></h6>

<ul>
{% for pub in site.publications %}
    {% if pub.tagged_projects contains page.title %}
        <li><a href="{{ pub.url }}">{{ pub.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>

<!---------------------------->
<h6><b>Code Resources</b></h6>
<ul>
{% for code in site.code %}
    {% if code.tagged_projects contains page.title %}
        <li><a href="\codes.html#{{ code.code_title }}">{{ code.code_title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
<!---------------------------->

<h6><b>Related Funding</b></h6>
<ul>
{% for fund in site.funding %}
    {% if fund.tagged_projects contains page.title %}
        <li><a href="{{ fund.url }}">{{ fund.organization }}</a>: US$ {{ fund.grants }}</li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Talks</b></h6>
<ul>
{% for talk in site.talks %}
    {% if talk.tagged_projects contains page.title %}
        <li><a href="{{ talk.url }}">{{ talk.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
    
<!---------------------------->

<h6><b>Related Events</b></h6>
<hr/>
<!---------------------------->


<h6><b>Related Blog Posts</b></h6>
<hr/>
<!---------------------------->
</div>
    
<label id="speech_options" style="float:right; border: 1px solid #67b0d1; border-radius: 8px; padding: 8px;">
    <center><b>Narration Options</b></center>
    <a onclick="responsiveVoice.speak($('#speak_content').text());" style="cursor: pointer;"><i class="icofont-play-alt-1"></i> Play</a>  <font color="#67b0d1">|</font>  
    <a onclick="responsiveVoice.resume();" style="cursor: pointer;"><i class="icofont-play-pause"></i> Resume</a>  <font color="#67b0d1">|</font>  
    <a onclick="responsiveVoice.pause();" style="cursor: pointer;"><i class="icofont-pause"></i> Pause</a>  <font color="#67b0d1">|</font>  
    <a onclick="responsiveVoice.cancel();" style="cursor: pointer;"><i class="icofont-ui-close"></i> Cancel</a> 
</label>
