---
layout: default
---

<b>Date:</b> {{ page.date | date: '%B %d, %Y' }}

{% assign tag_proj = page.tagged_projects | split: "," %}

<hr/>

<h6><b>Related Projects</b></h6>
<ul>
{% for tag in tag_proj %}
  {% for project in site.research_projects %}
          {% if tag == project.title %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
  {% endfor %}
{% endfor %}
</ul>

<hr/>

{% assign tag_people = page.authors | split: "," %}
<h6><b>Related People</b></h6>
<ul>
{% for tag in tag_people %}
  <li>{{ tag }}</li>
{% endfor %}
</ul>

<hr/>

{{ content | markdownify }}
