---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/cropper.js"></script>
<script>
    recrop("speaker_picture", 30, 30);
</script>
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>
<div id="speak_content">
<center>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
        <img src="{{ peop.image }}" class="speaker_picture" style="border-radius: 50%; width:140px;"/>
    {% endif %}
{% endfor %}
    <br/>
<b>Speaker: </b>{{ page.talk_by }}<br/>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
	{{ peop.designation }}<br/>({{ peop.category }})
    {% endif %}
{% endfor %}
</center><br/><br/>

{{ content | markdownify }}
<hr/>

<b>Date:</b> {{ page.date | date: '%B %d, %Y' }}
<hr/>

<h6><b>Location: </b></h6>{{ page.locus }}
<hr/>

{% capture resource_link_string %}{{ page.resource_links }}{% endcapture %}
{% assign res_link_array = resource_link_string | split: "," %}
<h6><b>Resource Links</b></h6>
<ul class="noBullets">
{% for link in res_link_array %}
    <li class="noBullets"><a href="{{ link }}" target="_blank"><script>findHostname("{{ link }}")</script></a></li>
{% endfor %}
</ul>
<hr/>

{% assign tag_proj = page.tagged_projects | split: "," %}
<h6><b>Related Research Projects</b></h6>

<div class="row">
{% for tag in tag_proj %}
    {% for project in site.research_projects %}
        {% if tag == project.title %}
            <div class="tagLine">
		    <a href="{{ project.url }}">{{ project.title }}</a>
		    {%- include tag_separator.html -%}
	    </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<hr>


</div>
{%- include narration.html -%}
