---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/cropper.js"></script>
<script>
    recrop("speaker_picture", 30, 30);
</script>
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>

<center>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
        <img src="{{ peop.image }}" class="speaker_picture" style="border-radius: 50%; width:140px;"/>
    {% endif %}
{% endfor %}
    <br/>
<b>Talk by: </b>{{ page.talk_by }}
</center><br/><br/>
    
<b>Date:</b> {{ page.date | date: '%B %d, %Y' }}
<hr/>

<h6><b>Location: </b></h6>{{ page.locus }}
<hr/>

{% capture vid_link_string %}{{ page.vid_links }}{% endcapture %}
{% assign vid_link_array = vid_link_string | split: "," %}
<h6><b>Video Links</b></h6>
<ul>
{% for link in vid_link_array %}
    <li><a href="{{ link }}" target="_blank"><script>findHostname("{{ link }}")</script></a></li>
{% endfor %}
</ul>
<hr/>

{% capture slide_link_string %}{{ page.slide_links }}{% endcapture %}
{% assign slide_link_array = slide_link_string | split: "," %}
<h6><b>Slide Links</b></h6>
<ul>
{% for link in slide_link_array %}
    <li><a href="{{ link }}" target="_blank"><script>findHostname("{{ link }}")</script></a></li>
{% endfor %}
</ul>
<hr/>

{% assign tag_proj = page.tagged_projects | split: "," %}
<h6><b>Related Projects</b></h6>
<ul>
{% for tag in tag_proj %}
  {% for project in site.research_projects %}
          {% if tag == project.title %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
  {% endfor %}
{% endfor %}
</ul>

<hr/>

{% assign tag_people = page.tagged_people | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.name %}
{% endfor %}
<h6><b>Related People</b></h6>
<ul>
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.name %}
                <li>{{ tag }} &nbsp; <label style="background-color:gray; padding:4px; border-radius:5px; color:white; font-size: small;">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>

<hr/>

{{ content | markdownify }}
